.custom-table thead tr th,
.custom-table tbody tr {
  border-bottom: none;
  text-align: center;
  /* column-span: ; */
}
.custom-table tbody tr td {
  border: none;
}

.custom-table  th{
  color: white;
}

.custom-table{
  font-family: 'Josefin Sans', sans-serif
}